#
#Copyright (c) 2018 Grumpy Cat Software S.L.
#
#This Source Code Form is subject to the terms of the Mozilla Public
#License, v. 2.0. If a copy of the MPL was not distributed with this
#file, You can obtain one at http://mozilla.org/MPL/2.0/.

exportClasses(Array)
export(AbsEnergy)
export(AbsoluteSumOfChanges)
export(AggregatedAutocorrelation)
export(AggregatedLinearTrend)
export(ApproximateEntropy)
export(Array)
export(AutoCorrelation)
export(AutoCovariance)
export(BinnedEntropy)
export(C3)
export(CidCe)
export(CountAboveMean)
export(CountBelowMean)
export(CrossCorrelation)
export(CrossCovariance)
export(CwtCoefficients)
export(DecimalScalingNorm)
export(DecimalScalingNormInPlace)
export(EnergyRatioByChunks)
export(Euclidean)
export(FftAggregated)
export(FftCoefficient)
export(FindBestNDiscords)
export(FindBestNMotifs)
export(FirstLocationOfMaximum)
export(FirstLocationOfMinimum)
export(FriedrichCoefficients)
export(GetBackend)
export(GetBackends)
export(GetDeviceCount)
export(GetDeviceID)
export(HasDuplicateMax)
export(HasDuplicateMin)
export(HasDuplicates)
export(IndexMassQuantile)
export(Info)
export(Kurtosis)
export(LargeStandardDeviation)
export(LastLocationOfMaximum)
export(LastLocationOfMinimum)
export(Length)
export(Linear)
export(LinearTrend)
export(Lls)
export(LongestStrikeAboveMean)
export(LongestStrikeBelowMean)
export(MaxLangevinFixedPoint)
export(MaxMinNorm)
export(MaxMinNormInPlace)
export(Maximum)
export(Mean)
export(MeanAbsoluteChange)
export(MeanChange)
export(MeanSecondDerivativeCentral)
export(Median)
export(Minimum)
export(NumberCrossingM)
export(NumberCwtPeaks)
export(NumberPeaks)
export(PercentageOfReoccurringDatapointsToAllDatapoints)
export(PercentageOfReoccurringValuesToAllValues)
export(Polyfit)
export(Quantile)
export(RangeCount)
export(RatioBeyondRSigma)
export(RatioValueNumberToTimeSeriesLength)
export(Roots)
export(SampleEntropy)
export(SetBackend)
export(SetDevice)
export(Skewness)
export(SpktWelchDensity)
export(SquaredEuclidean)
export(StandardDeviation)
export(Stomp)
export(StompSelfJoin)
export(SumOfReoccurringDatapoints)
export(SumOfReoccurringValues)
export(SumValues)
export(SymmetryLooking)
export(TimeReversalAsymmetryStatistic)
export(ValueCount)
export(Variance)
export(VarianceLargerThanStandardDeviation)
export(Znorm)
export(ZnormInPlace)
export(createArray)
export(deleteArray)
export(display)
export(getData)
export(getDims)
export(getType)
export(getTypeID)
export(getTypeName)
