#Copyright (c) 2018 Grumpy Cat Software S.L.
#
#This Source Code Form is subject to the terms of the Mozilla Public
#License, v. 2.0. If a copy of the MPL was not distributed with this
#file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

export(Stomp)
export(StompSelfJoin)
export(FindBestNMotifs)
export(FindBestNDiscords)
export(AbsoluteSumOfChanges)
export(AbsEnergy)
export(C3)
export(CidCe)
export(ApproximateEntropy)
export(CrossCovariance)
export(AutoCovariance)
export(CrossCorrelation)
export(Info)
export(SetDevice)
export(SetBackend)
export(GetDeviceID)
export(GetBackend)
export(GetBackends)
export(GetDeviceCount)
export(FirstLocationOfMaximum)
export(FirstLocationOfMinimum)
export(HasDuplicates)
export(HasDuplicateMax)
export(IndexMaxQuantile)
export(Kurtosis)
export(LargeStandardDeviation)
export(LastLocationOfMaximum)
export(LastLocationOfMinimum)
export(Length)
export(LinearTrend)
export(FftCoefficient)
export(HasDuplicateMin)
export(LongestStrikeAboveMean)
export(LongestStrikeBelowMean)
export(Maximum)
export(MeanAbsoluteChange)
export(AggregatedLinearTrend)
export(AggregatedAutocorrelation)
export(CwtCoefficients)
export(MeanSecondDerivativeCentral)
export(Minimum)
export(NumberCrossingM)
export(Median)
export(MeanChange)
export(Mean)
export(MaxLangevinFixedPoint)
export(Lls)
export(Znorm)